{% extends 'base.html.twig' %}

{% block title %}Hello PaymentController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <form action="/checkout" method="post">
        <button>Pay</button>
    </form>
</div>
{% endblock %}
